<%= form_with(model: manager, local: true) do |form| %>
  <% if manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
      <% manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :manager_name %>
  </div>

  <div class="field">
    <%= form.label : , %>
    <%= form.text_field : ,, id: :manager_ , %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, id: :manager_position %>
  </div>

  <div class="field">
    <%= form.label : , %>
    <%= form.text_field : ,, id: :manager_ , %>
  </div>

  <div class="field">
    <%= form.label :serial_number %>
    <%= form.text_field :serial_number, id: :manager_serial_number %>
  </div>

  <div class="field">
    <%= form.label : , %>
    <%= form.text_field : ,, id: :manager_ , %>
  </div>

  <div class="field">
    <%= form.label :client %>
    <%= form.text_field :client, id: :manager_client %>
  </div>

  <div class="field">
    <%= form.label : , %>
    <%= form.text_field : ,, id: :manager_ , %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :manager_name %>
  </div>

  <div class="field">
    <%= form.label : , %>
    <%= form.text_field : ,, id: :manager_ , %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age, id: :manager_age %>
  </div>

  <div class="field">
    <%= form.label :  %>
    <%= form.text_field : , id: :manager_  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
