<p id="notice"><%= notice %></p>

<h1>Managers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th> ,</th>
      <th>Position</th>
      <th> ,</th>
      <th>Serial number</th>
      <th> ,</th>
      <th>Client</th>
      <th> ,</th>
      <th>Name</th>
      <th> ,</th>
      <th>Age</th>
      <th> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @managers.each do |manager| %>
      <tr>
        <td><%= manager.name %></td>
        <td><%= manager. , %></td>
        <td><%= manager.position %></td>
        <td><%= manager. , %></td>
        <td><%= manager.serial_number %></td>
        <td><%= manager. , %></td>
        <td><%= manager.client %></td>
        <td><%= manager. , %></td>
        <td><%= manager.name %></td>
        <td><%= manager. , %></td>
        <td><%= manager.age %></td>
        <td><%= manager.  %></td>
        <td><%= link_to 'Show', manager %></td>
        <td><%= link_to 'Edit', edit_manager_path(manager) %></td>
        <td><%= link_to 'Destroy', manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manager', new_manager_path %>
