<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manager.name %>
</p>

<p>
  <strong> ,:</strong>
  <%= @manager. , %>
</p>

<p>
  <strong>Position:</strong>
  <%= @manager.position %>
</p>

<p>
  <strong> ,:</strong>
  <%= @manager. , %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @manager.serial_number %>
</p>

<p>
  <strong> ,:</strong>
  <%= @manager. , %>
</p>

<p>
  <strong>Client:</strong>
  <%= @manager.client %>
</p>

<p>
  <strong> ,:</strong>
  <%= @manager. , %>
</p>

<p>
  <strong>Name:</strong>
  <%= @manager.name %>
</p>

<p>
  <strong> ,:</strong>
  <%= @manager. , %>
</p>

<p>
  <strong>Age:</strong>
  <%= @manager.age %>
</p>

<p>
  <strong> :</strong>
  <%= @manager.  %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
