<%= form_with(model: shop, local: true) do |form| %>
  <% if shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :shop_name %>
  </div>

  <div class="field">
    <%= form.label : , %>
    <%= form.text_field : ,, id: :shop_ , %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, id: :shop_street %>
  </div>

  <div class="field">
    <%= form.label : , %>
    <%= form.text_field : ,, id: :shop_ , %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :shop_number %>
  </div>

  <div class="field">
    <%= form.label :  %>
    <%= form.text_field : , id: :shop_  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
